doctype html
html
  head
    style.
      body, html {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .bg {
        /* The image used */
        background-image: url("images/state.png");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        position: relative;
      }
  body
    .bg